<h3>Club Library</h3>

<h4>General</h4>
<ul>
    <li><a href="http://www.lexingtonflyingclub.org/content/newsletter/LFC%20New%20Hangar%20Transition%20Guide%2020150125.pdf">Hangar Door and Aircraft Caddy Instructions</a></li>
    <li><a href="~/Content/Preheat%20Procedure.pdf">LFC Preheat Procedure</a></li>
    <li><a href="~/Content/Checkout%20and%20BFR%20Form.pdf">Checkout and BFR Form</a></li>
    <li><a href="http://www.bluegrassairport.com/documents/SelfServe_OperatingInstructions.pdf">Self-Serve Gas Pump Instructions</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/RAIM%20prediction.doc">Garmin GPS RAIM Prediction</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/S-Tec%2050%20How%20To.html">Getting started with the S-TEC 50 Autopilot</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/C172_Chronometer_how-to_sheet.pdf">Cessna 172 Digital Chronometer Instructions</a></li>
    <li><a href="http://www.whittsflying.com/web/page5.66Piper.htm">Differences between Piper's and Cessna's</a></li>
    <li><a href="http://www8.garmin.com/include/SimulatorPopup.html">Garmin 430 GPS Simulator</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Garmin_GNS430_Pilot_Guide.pdf">Garmin GNS430W Pilot's Guide</a></li>
    <li><a href="~/Content/FlightLog.doc">Flight Log Form</a></li>
    <li><a href="~/Content/lfc_promisory_note.html">Member Loan Promissory Note</a></li>
</ul>

<h4>Flight Safety</h4>
<ul>
    <li><a href="http://www.lexingtonflyingclub.org/Content/Safety/VFRintoIMC_2.1.13.pdf">VFR into IMC &amp; Night</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/Safety/DensityAltitiude_8.2013.pdf">Density Altitude</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/Safety/SpacialDisorientation_9.2014.pdf">Spacial Disorientation</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/Safety/ConfirmingRunway.pdf">Confirming the take-off runway</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/Safety/KeepTransponderOn.pdf">Keep the Transponder On</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/Safety/PilotActivatedLighting.pdf">Pilot Activated Lighting</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/Safety/PilotControlledLighting.doc">Pilot Controlled Lighting</a></li>
</ul>

<h4>Diamond DA40 Documents</h4>
<ul>
    <li><a href="~/Content/DA40/DA-40 Transition Training Rev 5.pdf">DA-40 Transition Guide</a></li>
    <li><a href="~/Content/DA40/We did get our marching orders from Avemco for the Diamond Star DA.pdf">DA-40 Checkout Requirements</a></li>
    <li><a href="~/Content/DA40/DA40 CHECKOUT EXAM 11 1 09.pdf">DA-40 Checkout Exam</a></li>
    <li><a href="~/Content/DA40/POH/POH.pdf">DA-40 Pilot's Operating Handbook</a></li>
    <li><a href="https://www.bendixking.com/HWL/media/Pilot-Guides/006-18034-0000_3.pdf">KAP140 Autopilot User Manual</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Oper%20manualsGarmin_430_Crossfill.pdf">Garmin 430 Cross-fill</a></li>
    <li><a href="https://www.bendixking.com/HWL/media/Pilot-Guides/006-08256-0004_4.pdf">KCS-55A Horizonal Situation Indicator User Manual</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/DA40/VM%201000%20Operators%20Guide.pdf">VM1000 Engine Monitor User Manual</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/DA40/Garmin%20GNS530_QuickReference.pdf">Garmin 430/530 GPS Quick Reference</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/DA40/Garmin%20GTX327%20Transponder%20Pilot%20Guide.pdf">Garmin GTX327 Transponder Pilot Guide</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/DA40/Garmin%20340%20audio%20Panel.pdf">Garmin 340 Audio Panel</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/DA40/Setting%20time%20on%20Garmin_430_530.doc">Setting time on the Garmin 430/530</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/DA40%20cockpit%20checklist.pdf">Checklist</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/DA40%202%20page%20Normal%20Operating%20Checklist%203.25.15.pdf">Condensed Checklist</a></li>
</ul>
<h4>Diamond DA40 POH and Supplements</h4>
<ul>
    <li><a href="~/Content/DA40/POH/POH.pdf">DA-40 Pilot's Operating Handbook</a></li>
    <li><a href="~/Content/DA40/POH/AFM-TR-MAM-40-766_entering and exiting_5.July.2014.pdf">Temporary Revision MAM-40-766 - Entering and Exiting</a></li>
    <li><a href="~/Content/DA40/POH/60101e-A11-r4_Supplement_Compass System_3.15.2005.pdf">Supplement A11 - Compass System KCS 55A</a></li>
    <li><a href="~/Content/DA40/POH/60101e-A13-r2_Autopilot system KAP140_3.15.2005.pdf">Supplement A13 - KAP140 Autopilot</a></li>
    <li><a href="~/Content/DA40/POH/60101e-A17-r3_GNS 430_2.17.2003.pdf">Supplement A17 - GNS 430</a></li>
    <li><a href="~/Content/DA40/POH/60101e-A18-GMA340-r2_Audio Pannel_6.22.2005.pdf">Supplement A18 - GMA 340 Audio Panel</a></li>
    <li><a href="~/Content/DA40/POH/60101e-A19-r1Transponder_3.15.2005.pdf">Supplement A19 - GTX327 Transponder</a></li>
    <li><a href="~/Content/DA40/POH/60101e-A20-GI106A_Course Deviation  Indicator_10.1.2001.pdf">Supplement A20 - GI106A Course Deviation Indicator</a></li>
    <li><a href="~/Content/DA40/POH/60101e-a21-r1_GNS530_3.15.2002.pdf">Supplement A21 - GNS 530</a></li>
    <li><a href="~/Content/DA40/POH/60101e-A23-MD41-r1_GPS Annunciator Unit__10.1.2001.pdf">Supplement A23 - GPS Annunciator Unit</a></li>
    <li><a href="~/Content/DA40/POH/60101e-E4-digital-clock-Devtron_3.15.2005.pdf">Supplement E4 - Devtron Digital Clock</a></li>
    <li><a href="~/Content/DA40/POH/60101e-S1-elt-ack-e-01_ELT Model E-01 Ack_9.26.2000.pdf">Supplement S1 - ELT Model E-01</a></li>
    <li><a href="~/Content/DA40/POH/60101e-o2-r0_Operation with winter kit_11.26.2001.pdf">Supplement O2 - Operation with Winter Kit</a></li>
</ul>

<h5>Diamond "Briefs"</h5>
<ul>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%201%20Getting%20to%20Know%20Diamond%20%20DA40_3.23.15.pdf">Brief #1 - Getting to know the DA-40</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%202%20%20Gust%20Lock%20Guidelines_3.20.15.pdf">Brief #2 - Gust Lock Guidelines</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%203%20Fouled%20Plugs_3.24.15.pdf">Brief #3 - Fouled Plugs</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%204%20How%20to%20Identify%20Fouled%20Plugs.pdf">Brief #4 - How to Identify Fouled Plugs</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%205%20Adjusting%20RPM%20and%20MP_3.23.15.pdf">Brief #5 - Adjusting RPM and MP</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%206%20Adjusting%20the%20Intercom_3.23.15.pdf">Brief #6 - Adjusting the Intercom</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%207%20Engine%20Starting%20%20Procedure_3.23.15.pdf">Brief #7 - Engine Starting Procedure</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%208%20AutoPilot%20Guidelines%20_3.20.15.pdf">Brief #8 - Autopilot Guidelines</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%209%20Excess%20tire%20wear_3.25.15.pdf">Brief #9 - Excess Tire Wear</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%2010%20Engine%20Economy%20Power%20%20Setting_3.23.15.pdf">Brief #10 - Engine Economy Power Setting</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%2011%20RAIM%20prediction_3.20.15.pdf">Brief #11 - RAIM Prediction</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%2012%20Garmin%20Crossfill_3.23.15.pdf">Brief #12 - Garmin Crossfill</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%2013%20Alternate%20Static%20%20Valve_3.23.15.pdf">Brief #13 - Alternate Static Valve</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%2014%20Tie%20Down%20and%20Securing%20%20Procedures_3.26.15.pdf">Brief #14 - Tie-Down and Securing Procedures</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%2015%20Canopy%20Care%20and%20Cleaning.pdf">Brief #15 - Canopy Care and Cleaning</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%20%2316-Leaning%20for%20Maximum%20Engine%20%20Life_4.2.15.doc">Brief #16 - Leaning for Maximum Engine Life</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%20%2317-Proper%20Adjustment%20of%20Rudder%20%20%20Pedals_6.18.15.doc">Brief #17 - Proper Adjustment of Rudder Pedals</a>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%20%2318-Preventing%20Broken%20Vent%20%20%20Windows_7.6.15.doc">Brief #18 - Preventing Broken Vent Windows</a></li>
    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Diamond%20Brief%20%2319-Storage%20Compartments_4.7.16.doc">Brief #19 - Storage Compartments</a></li>
</ul>

<h4>Cessna 172R Documents</h4>
<ul>
    <li><a href="~/Content/C172R/C172R_Familiarization_Course_D8688A4579304.ppt">C172R Familiarization Course</a></li>
    <li><a href="~/Content/C172R/C172R Transition Guidev0pt3.pdf">C172R Transition Guide</a></li>
    <li><a href="~/Content/C172R/172R POH.pdf">C172R Pilot's Operating Handbook</a></li>
    <li><a href="~/Content/C172R/KAP140Manual.pdf">KAP140 Autopilot User Manual</a></li>
    <li><a href="~/Content/C172R/KLN94QR.pdf">KLN94 GPS Quick Reference Guide</a></li>
    <li><a href="~/Content/C172R/KLN94.pdf">KLN94 GPS User's Manual</a></li>
    <li><a href="~/Content/C172R/KMD550QR.pdf">KMD550 Multi-Function Display Quick Reference</a></li>
    <li><a href="~/Content/C172R/KMD550.pdf">KMD550 Multi-Function Display User's Manual</a></li>
    <li><a href="http://www.mockingbirdflyingclub.org/m8sim1.htm">KLN89 GPS Simulator</a></li>
</ul>

<h4>Meeting Minutes</h4>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="h2016">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c2016" aria-expanded="true" aria-controls="c2016">
                    2016
                </a>
            </h4>
        </div>
        <div id="c2016" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/LFC-Jan-2016.pdf">January</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/LFC-Feb-2016.pdf">February</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/LFC-Mar-2016.pdf">March</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/LFC-Apr-2016.pdf">April</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/LFC-Jun-2016.pdf">June</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/LFC-Jul-2016.pdf">July</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="h2015">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c2015" aria-expanded="true" aria-controls="c2015">
                    2015
                </a>
            </h4>
        </div>
        <div id="c2015" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2015_01_LFC_minutes.pdf">January</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2015_02_LFC_minutes.pdf">February</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2015_03_LFC_minutes.pdf">March</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2015_04_LFC_minutes.pdf">April</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2015_06_LFC_minutes.pdf">June</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2015_07_LFC_minutes.doc">July</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2015_08_LFC_minutes.doc">August</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2015_09_LFC_minutes.doc">September</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2015_10_LFC_minutes.pdf">October</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/LFC-Nov-2015.pdf">November</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/LFC-Dec-2015.pdf">December</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="h2014">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c2014" aria-expanded="true" aria-controls="c2014">
                    2014
                </a>
            </h4>
        </div>
        <div id="c2014" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2014_01_LFC_minutes.pdf">January</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2014_02_LFC_minutes.pdf">February</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2014_04_LFC_minutes.pdf">April</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2014_06_LFC_minutes.pdf">June</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2014_07_LFC_minutes.pdf">July</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2014_08_LFC_minutes.pdf">August</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2014_09_LFC_minutes.pdf">September</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2014_11_LFC_minutes.pdf">November</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2014_12_LFC_minutes.pdf">December</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="h2013">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c2013" aria-expanded="true" aria-controls="c2013">
                    2013
                </a>
            </h4>
        </div>
        <div id="c2013" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h2013">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2013_01_LFC_minutes.pdf">January</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2013_02_LFC_minutes.pdf">February</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2013_03_LFC_minutes.pdf">March</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2013_04_LFC_minutes.pdf">April</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2013_06_LFC_minutes.pdf">June</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2013_08_LFC_minutes.pdf">August</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2013_09_LFC_minutes.pdf">September</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2013_10_LFC_minutes.pdf">October</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2013_11_LFC_minutes.pdf">November</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2013_12_LFC_minutes.pdf">December</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="h2012">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c2012" aria-expanded="true" aria-controls="c2012">
                    2012
                </a>
            </h4>
        </div>
        <div id="c2012" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h2012">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2012_01_LFC_minutes.pdf">January</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2012_03_LFC_minutes.pdf">March</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2012_04_LFC_minutes.pdf">April</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2012_06_LFC_minutes.pdf">June</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2012_07_LFC_minutes.pdf">July</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2012_08_LFC_minutes.pdf">August</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2012_09_LFC_minutes.pdf">September</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2012_10_LFC_minutes.pdf">October</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2012_11_LFC_minutes.pdf">November</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2012_12_LFC_minutes.pdf">December</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="h2011">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c2011" aria-expanded="true" aria-controls="c2011">
                    2011
                </a>
            </h4>
        </div>
        <div id="c2011" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h2011">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2011_01_LFC_minutes.pdf">January</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2011_02_LFC_minutes.pdf">February</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2011_03_LFC_minutes.pdf">March</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2011_06_LFC_minutes.pdf">June</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2011_07_LFC_minutes.pdf">July</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2011_08_LFC_minutes.pdf">August</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2011_09_LFC_minutes.pdf">September</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2011_11_LFC_minutes.pdf">November</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2011_12_LFC_minutes.pdf">December</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="h2010">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c2010" aria-expanded="true" aria-controls="c2010">
                    2010
                </a>
            </h4>
        </div>
        <div id="c2010" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h2010">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2010_02_LFC_minutes.pdf">February</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2010_04_LFC_minutes.pdf">April</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2010_06_LFC_minutes.pdf">June</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2010_07_LFC_minutes.pdf">July</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2010_08_LFC_minutes.pdf">August</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2010_09_LFC_minutes.pdf">September</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2010_10_LFC_minutes.pdf">October</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2010_11_LFC_minutes.pdf">November</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2010_12_LFC_minutes.pdf">December</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="h2009">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c2009" aria-expanded="true" aria-controls="c2009">
                    2009
                </a>
            </h4>
        </div>
        <div id="c2009" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h2009">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2009_01_LFC_minutes.pdf">January</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2009_02_LFC_minutes.pdf">February</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2009_03_LFC_minutes.pdf">March</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2009_04_LFC_minutes.pdf">April</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2009_05_LFC_minutes.pdf">May</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2009_06_LFC_minutes.pdf">June</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2009_07_LFC_minutes.pdf">July</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2009_08_LFC_minutes.pdf">August</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2009_09_LFC_minutes.pdf">September</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2009_10_LFC_minutes.pdf">October</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2009_11_LFC_minutes.pdf">November</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2009_12_LFC_minutes.pdf">December</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="h2008">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c2008" aria-expanded="true" aria-controls="c2008">
                    2008
                </a>
            </h4>
        </div>
        <div id="c2008" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h2008">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2008_03_LFC_minutes.pdf">March</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2008_04_LFC_minutes.pdf">April</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2008_06_LFC_minutes.pdf">June</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2008_07_LFC_minutes.pdf">July</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2008_08_LFC_minutes.pdf">August</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2008_09_LFC_minutes.pdf">September</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2008_10_LFC_minutes.pdf">October</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2008_11_LFC_minutes.pdf">November</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2008_12_LFC_minutes.pdf">December</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="h2007">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c2007" aria-expanded="true" aria-controls="c2007">
                    2007
                </a>
            </h4>
        </div>
        <div id="c2007" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h2007">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2007_12_LFC_minutes.pdf">December</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<h4>Financial Reports</h4>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="fh2015">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#fc2015" aria-expanded="true" aria-controls="fc2015">
                    2015
                </a>
            </h4>
        </div>
        <div id="fc2015" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202015_06_30_Rev20150630.xls">Mid-Year</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202015_12_31_Rev20151231.xls">End-Year</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="fh2014">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#fc2014" aria-expanded="true" aria-controls="fc2014">
                    2014
                </a>
            </h4>
        </div>
        <div id="fc2014" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202014_06_30_Rev20140630.xls">Mid-Year</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202014_12_31_Rev20141231.xls">End-Year</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="fh2013">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#fc2013" aria-expanded="true" aria-controls="fc2013">
                    2013
                </a>
            </h4>
        </div>
        <div id="fc2013" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202011_06_30_Rev20110630.xls">Mid-Year</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202013_12_31_Rev20131231.xls">End-Year</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="fh2012">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#fc2012" aria-expanded="true" aria-controls="fc2012">
                    2012
                </a>
            </h4>
        </div>
        <div id="fc2012" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202012_06_30_Rev20120719.xls">Mid-Year</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202012_12_31_Rev20121231.xls">End-Year</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="fh2011">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#fc2011" aria-expanded="true" aria-controls="fc2011">
                    2011
                </a>
            </h4>
        </div>
        <div id="fc2011" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202011_06_30_Rev20110630.xls">Mid-Year</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202011_12_31_Rev20111231.xls">End-Year</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="fh2010">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#fc2010" aria-expanded="true" aria-controls="fc2010">
                    2010
                </a>
            </h4>
        </div>
        <div id="fc2010" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202010_06_30_Rev20100630.xls">Mid-Year</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202010_12_31_Rev20101231.xls">End-Year</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="fh2009">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#fc2009" aria-expanded="true" aria-controls="fc2009">
                    2009
                </a>
            </h4>
        </div>
        <div id="fc2009" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202009_06_30_Rev20090630.xls">Mid-Year</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202009_12_31_Rev20091231.xls">End-Year</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="fh2008">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#fc2008" aria-expanded="true" aria-controls="fc2008">
                    2008
                </a>
            </h4>
        </div>
        <div id="fc2008" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202008_07_01_Mid-Year.xls">Mid-Year</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202008_12_31_Rev20090107.xls">End-Year</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="fh2007">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#fc2007" aria-expanded="true" aria-controls="fc2007">
                    2007
                </a>
            </h4>
        </div>
        <div id="fc2007" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202007_01_06_Rev20070701.xls">Mid-Year</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202007_01_12_Rev20071231.xls">End-Year</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="fh2006">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#fc2006" aria-expanded="true" aria-controls="fc2006">
                    2006
                </a>
            </h4>
        </div>
        <div id="fc2006" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2006_1-6_Summary.pdf">Mid-Year</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/Transactions%202006_01_12_Rev20070108.xls">End-Year</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="fh2005">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#fc2005" aria-expanded="true" aria-controls="fc2005">
                    2005
                </a>
            </h4>
        </div>
        <div id="fc2005" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2005_End_Of_Year_from_Tony.pdf">Tony Mid-Year</a></li>
                    <li><a href="http://www.lexingtonflyingclub.org/Content/newsletter/2005_End_Of_Year_from_MikeP.pdf">Mike End-Year</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>