@model LFC.Models.Airplane

@if (Model.MaintenanceActions.Count > 0 || LFC.Models.Airplane.PastDueADs(Model.ADs).Count > 0)
{
    <h3>Maintenance Actions</h3>
    foreach (var action in Model.MaintenanceActions)
    {
        <h4 class="text-danger">
            @Html.DisplayFor(actionItem => action)
        </h4>
    }
    foreach (var ad in LFC.Models.Airplane.PastDueADs(Model.ADs))
    {
        var css = "text-danger";
        if (ad.Voluntary)
        {
            css = "text-warning";
        }
        <h4 class="@css">
            Airworthiness directive
            @Html.DisplayFor(adTime => ad.AirworthinessDirectiveID)
            is past due
        </h4>
    }
    foreach (var ad in LFC.Models.Airplane.NearDueADs(Model.ADs))
    {
        <h4 class="text-warning">
            Airworthiness directive
            @Html.DisplayFor(adTime => ad.AirworthinessDirectiveID)
            is near due
        </h4>
    }
    <hr />
}