<h2>CLUB CONSTITUTION</h2>
<p>
    <h3>ARTICLE I</h3>

<p>
    SECTION 1 - This <span class=GramE>corporation</span> shall be known as the
    Lexington Flying Club, Inc., herein referred to as the CLUB, and shall be
    incorporated under the laws of the <st1:place w:st="on">
        <st1:placetype w:st="on">Commonwealth</st1:placetype>
        of <st1:placename w:st="on">Kentucky</st1:placename>
    </st1:place>. It shall
    have its official address at <st1:address w:st="on"><st1:street w:st="on">Box #</st1:street>863</st1:address>,
    Post Rider Station, <st1:place w:st="on">
        <st1:city w:st="on"><span class=GramE>Lexington</span></st1:city>,
        <st1:state w:st="on">Kentucky</st1:state> <st1:postalcode w:st="on">40588</st1:postalcode>
    </st1:place>.
</p>

<p>
    SECTION 2 - The members of the CLUB are the owners of the aircraft owned by
    the corporation. The corporation does not rent its aircraft to anyone. The
    monies collected from the members are for the express purpose of equitably
    distributing the expense of owning/flying the CLUB aircraft among the member
    owners.
</p>

<h3>ARTICLE II</h3>

<p>
    SECTION 1 - The object of the CLUB shall be to promote knowledge and
    practice of safe flying and to make low cost flying available to its members on
    a nonprofit basis.
</p>

<h3>ARTICLE III</h3>

<p>
    SECTION 1 - Regular meetings of the CLUB shall be held on the second Tuesday
    of each month, or as needed for efficient management of the CLUB.
</p>

<p>
    SECTION 2 - A quorum of the CLUB shall consist of one-third of the active
    members. For the purposes of determining a quorum, proxies from active members
    (written or verbal) provided to a CLUB officer may be counted. If a verbal
    proxy is challenged, the member giving the proxy must provide a written
    statement in order to substantiate the proxy.
</p>

<p>
    SECTION 3 - A quorum of the Board of Directors shall consist of at least
    three board members.
</p>

<p>
    SECTION 4 - There must be a quorum present at a meeting in order to conduct
    official business.
</p>

<p>
    SECTION 5 - When a quorum is present, approval shall consist of a majority
    of votes by the members present. Actions requiring approval of a two-thirds
    majority of a quorum of members must be explicitly called out in either the
    Constitution or By-Laws of the CLUB.
</p>

<p>
    SECTION 6 - If a quorum does not exist at a regular meeting of the members,
    those members present may vote on issues with the understanding that any
    motions passed will be sent to the entire membership by mail and the issues
    voted upon by return mail ballot. These ballots will be sent out within two
    weeks of the meeting. The notice explaining the issues will provide a cutoff
    date when returned ballots must be postmarked and one-third of the membership
    must return ballots in order for the vote to be valid. An issue thus ratified
    will go into effect at the end of the month in which the meeting was held
    unless a specific date is included within the motion itself. The results of the
    mail ballot will be announced at the next regular meeting.
</p>

<p>SECTION 7 - Notices of special meetings shall be sent to all CLUB members. </p>

<h3>ARTICLE IV</h3>

<p>
    SECTION 1 - The officers of the CLUB shall consist of a President,
    Vice-President for Maintenance for each aircraft, a Secretary, a Treasurer, an
    Assistant Treasurer, and a Safety Officer.
</p>

<p>
    SECTION 2 - The officers shall be elected annually by mail ballot prior to
    and shall take office at the regular meeting of the members in May.
</p>

<p>
    SECTION 3 - The Board of Directors shall consist of the officers of the
    CLUB. The Board of Directors shall be empowered to conduct all routine CLUB
    business as well as subsequent powers herein stated.
</p>

<p>
    SECTION 4 - The post of a resigning officer or board member must be filled
    at the next regular meeting of the members following the resignation. The new
    officer shall serve for the unexpired term of that post.
</p>

<h3>ARTICLE V</h3>

<p>
    SECTION 1 - The order of business at the regular meetings of the members
    shall consist of the following:
</p>

<ol type="a">
    <li>Call to order. </li>
    <li>
        <st1:city w:st="on">
            <st1:place w:st="on">Reading</st1:place>
        </st1:city> and approval of the minutes of
        the previous regular and intervening special meetings.
    </li>
    <li>Reports of the officers. </li>
    <li>Committee reports. </li>
    <li>New business. </li>
    <li>Program. </li>
    <li>Adjournment. </li>
</ol>

<h3>ARTICLE VI</h3>

<p>
    SECTION 1 - The Constitution and By-Laws of the CLUB may be amended or repealed
    by a two-thirds vote of the members present provided there is a quorum present.
    The procedure outlined in Article III, Section 6 of this constitution may be
    used in the event a quorum is not present.
</p>

<h3>ARTICLE VII</h3>

<p>
    SECTION 1 - In the event of dissolution of the CLUB, once the debts of the
    organization have been satisfied, the assets of the organization will be
    divided amongst the existing members in the same ratio as the initiation fees
    paid by each member.
</p>

<h2>BY-LAWS</h2>

<h3>ARTICLE I - THE OFFICERS</h3>

<p>
    SECTION 1 - The President shall preside at all meetings and act as Chairman
    of the Board of Directors. He shall enforce the Constitution, By-Laws and
    special rules of the CLUB. He shall be empowered to call special meetings of
    the members and Board of Directors whenever necessary. He shall act as
    coordinator of CLUB activities and manager of CLUB affairs. He shall make
    recommendations concerning growth and development of the CLUB. He shall perform
    other duties as may be required. He shall have other powers as prescribed
    herein.
</p>

<p>
    SECTION 2 - Each Vice-President for Maintenance shall be empowered and
    responsible for contracting with FAA approved aviation repair and service
    facilities to assure that such maintenance facilities can maintain the
    airworthiness of assigned aircraft. He shall be responsible for procuring and
    renewing all necessary registration and licensing of the aircraft, radios and
    other accessories as appropriate. He shall authorize, with the consent of the
    President, all necessary work to be done on the aircraft. When the aircraft is
    removed from or returned to flying status for maintenance purposes, the
    Reservation Service will be advised.
</p>

<p>
    SECTION 3 - The Secretary shall make and preserve minutes of all meetings of
    the CLUB members, inform absent members of pertinent CLUB information, send
    notices of any special meetings to the members, carry on correspondence
    necessary for the operation of the CLUB, maintain a current membership roster,
    and perform other duties that the office may require.
</p>

<p>
    SECTION 4 - The Treasurer shall be responsible for an accurate, current
    accounting of all CLUB funds, assets and all accounts payable. He and the
    President shall have authority to deposit and draw any checks on the accounts
    of the CLUB. He shall be responsible for presenting a written financial
    statement of the CLUB's assets and liabilities as of January 1 at the regular
    January meeting of the members, as well as preparing a written financial
    summary of the CLUB's business for the previous year. He shall be responsible
    for conducting all matters concerning any taxes, tax reports, or other tax
    assessments levied against the CLUB. The Treasurer shall act as President
    during the absence of the latter.
</p>

<p>
    SECTION 5 - The Assistant Treasurer shall be responsible for an accurate and
    current accounting of any receivables which may be due the CLUB in the form of
    membership fees, flying fees, dues and other income. He shall be responsible to
    present an up-to-date accounting of accounts receivable at each meeting. The
    Assistant Treasurer shall act as Treasurer in the latter's absence.
</p>

<p>
    SECTION 6 - The Safety Officer shall be responsible for the establishment
    and promulgation of good flight safety standards in all phases of the CLUB's
    flight operations on the ground and in flight. He shall monitor the flight
    training for members flying as students and insure that student members employ
    qualified instructors.
</p>

<h3>ARTICLE II - MEMBERSHIP</h3>

<p>SECTION 1 - Membership may be acquired by: </p>

<ol start=1 type=1>
    <li>
        Making a minimum entrance
        payment to the CLUB, as stated in ARTICLE XIII Section 1
    </li>
    <li>
        Receiving written approval of
        three members of the Board of Directors.
    </li>
    <li>
        Reading a form stating the
        insurance coverage and limitations and signing a form indicating the he
        understands the insurance coverage and limitations.
    </li>
</ol>

<p>There shall be the following types of memberships: </p>

<ul>
    <li>Restricted</li>
    <li>Associate</li>
    <li>Special</li>
    <li>Full</li>
    <li>Couples</li>
    <li>Adjunct</li>
</ul>

<p>
    SECTION 2 - Except as provided in ARTICLE II, Section 3
    below, <b style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt'>Restricted</span></b>
    Memberships limit the member to flying the primary trainer only.</span> (See the
    ADDENDUM for the airplane currently designated the primary trainer.)
</p>

<p>
    SECTION 3 - Restricted Memberships may fly the secondary trainer(s) at the
    current hourly rate for the aircraft plus the secondary trainer surcharge as
    listed in the ADDENDUM. The following limitations exist:
</p>

<ol start=1 type=1>
    <li>
        A plane may not be scheduled
        more than one week in advance.
    </li>
    <li>
        A plane may not be taken out
        overnight without permission of the President.
    </li>
</ol>

<p>
    SECTION 4 - Restricted Memberships who wish to upgrade to Full Membership
    via the <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt'>
            Special
            Membership
        </span>
    </b> plan may fly the secondary trainer(s) according to the
    following requirements:
</p>

<ol start=1 type=1>
    <li>
        Notify the Treasurer of their
        intentions prior to flying under this plan.
    </li>
    <li>
        Pay the monthly dues of a
        Full Membership.
    </li>
    <li>
        Pay an additional $1.00 per
        hour fee for the secondary trainer(s) until the Full Membership initiation
        fee has been paid. (Flying time fees DO NOT apply toward the higher
        membership.)
    </li>
    <li>
        Pay $5.00 towards the higher
        membership initiation fee for each hour or fraction thereof flown.
    </li>
    <li>
        None of the amounts paid
        according to (4) above is refundable.
    </li>
    <li>
        Additional payments on the
        higher membership initiation fee may be made at any time.
    </li>
</ol>

<p>SECTION 5 - [Reserved] </p>

<p>
    SECTION 6 - A <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:
14.0pt'>Full</span>
    </b> Membership shall entitle the member to fly all of the
    CLUB aircraft except complex aircraft.
</p>

<p>SECTION 7 - [Reserved] </p>

<p>
    SECTION 8 - An <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt'>Associate</span>
    </b> Member must be a dependent of a
    CLUB member. He may be afforded the privileges of a nonvoting Associate
    Membership during the period of student pilot training only. The charge for
    this membership will be an initiation fee of $25.00 per associate in addition
    to the regular dues for each associate. At such time as the Associate Member
    becomes a licensed pilot, he will be subject to the membership requirements for
    at least a Restricted Member. The Associate Membership shall be limited to a
    total of 60 hours flying time. The initiation fee shall apply towards the
    initiation fee of a higher membership. If the Associate Member goes inactive or
    fails to pay dues, the initiation fee shall be forfeited.
</p>

<p>
    SECTION 9 - A husband and wife may be afforded the privileges of a <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt'>
            Couples'
            Membership
        </span>
    </b>. Both the husband and wife must have the same type of
    membership and each has full voting status. The initiation fee of a Couples'
    Membership will be two times the membership requested. The dues will be as
    stated in ARTICLE XIII.
</p>

<p>
    SECTION 10 - The owner of an aircraft which is leased to the CLUB is
    automatically afforded an <b style='mso-bidi-font-weight:normal'>
        <span style='font-size:14.0pt'>Adjunct</span>
    </b> Membership. An Adjunct member has
    no voting rights; pays no dues; pays no initiation fee; and has no financial
    equity in the CLUB. He may only fly his own aircraft. By making application and
    paying the monthly dues, the owner may join the CLUB in any of the other types
    of membership if he so chooses. The initiation fee is waived for the duration of
    the lease. In the event the lease is terminated, however, the owner must either
    join the CLUB in one of the other membership categories (and pay the
    appropriate initiation fee) or leave the CLUB.
</p>

<p>
    SECTION 11 - A member having paid an initiation fee to the CLUB shall have
    the right to upgrade his membership as his qualifications and finances permit.
</p>

<p>
    SECTION 12 - A member in good standing is one who has not been cited for
    carelessness or irresponsibility as covered in ARTICLE II, Section 14, and who
    has not exceeded the debt limit as stated in ARTICLE XIII, Section 3.
</p>

<p>
    SECTION 13 - No member regardless of standing in the CLUB may sell or
    transfer his membership to another person.
</p>

<p>
    SECTION 14 - A membership may be revoked without recourse or compensation by
    the Board of Directors for any flagrant or repeated infraction of the
    Constitution, By-Laws, or special rules of the CLUB. Ignorance will be no
    defense. Reports of carelessness, irresponsibility, or poor judgment in the use
    of CLUB planes may be cause for suspension of a membership, and the member will
    not be permitted to fly CLUB planes until the Board of Directors conducts a
    satisfactory review. Suspension will be automatic and immediate when:
</p>

<ol start=1 type=1>
    <li>
        The member is cited for
        violation of FAA rules or regulations.
    </li>
    <li>
        It is recommended by the
        President or Safety Officer that the member is a clear and present danger
        to flight safety.
    </li>
    <li>
        Any accident or incident
        involving a member and a CLUB aircraft where substantial damage is
        involved.
    </li>
</ol>

<p>
    SECTION 15 - CLUB membership will be terminated on written notice to the
    Secretary, and will become effective on the date requested by the terminating
    member, or, in the absence of a requested terminating date, on the last day of
    the month of the letter's postmark. The Board of Directors will decide the
    issue if a termination is requested retroactive to a date prior to the
    postmarked date of the letter.
</p>

<p>
    SECTION 16 - Since the CLUB relies on the dues of its members to budget for
    fixed expenses, and suffers financially if a member fails to provide timely
    written notice of termination, the member will be liable for the dues up to the
    date written notice is provided.
</p>

<p>
    SECTION 17 - Members requesting inactive status are subject to Board of
    Directors' approval.
</p>

<ol start=1 type=1>
    <li>
        Members approved for
        inactive status are subject to the inactive monthly dues listed in the
        ADDENDUM. A member going into military service (and wishing to go on
        inactive status) will not be required to pay the inactive monthly dues.
    </li>
    <li>
        Inactive members may not
        participate in discussion, vote on CLUB matters or pilot the CLUB planes.
    </li>
    <li>
        When a member is granted
        inactive status, his name will be entered on an inactive list in order,
        based upon dates of approved inactive status. The Board will reinstate
        inactive members as vacancies permit. Inactive members will be given
        priority over new membership applicants.
    </li>
</ol>

<p>
    SECTION 18 - A former member in good standing may
    reinstate his membership if vacancies exist
</p>

<ol type="a">
    <li>If it has been less than a year: by paying inactive dues for the period of the absence.</li>
    <li>If it has been more than a year: by paying the initiation fee currently in effect for the level of membership desired</li>
</ol>

<h3>ARTICLE III - DUES</h3>

<p>
    SECTION 1 - The monthly dues as stated in ARTICLE XIII, Section 2, shall be
    payable to the Treasurer and are due on the first day of each month.
</p>

<h3>ARTICLE IV - PAYMENT FOR FLYING</h3>

<p>
    SECTION 1 - Flying time must be paid within 10 days of receipt of the
    statement. A monthly statement of all charges will be prepared by the Assistant
    Treasurer and mailed to each member. A MONTHLY FINANCE CHARGE will be assessed
    on the unpaid balance if payment is not received (or postmarked) before the end
    of the current billing cycle. Billing cycles will be no more often than
    monthly. The flying rates and the rate for the MONTHLY FINANCE CHARGE are
    published in the ADDENDUM.
</p>

<p>
    SECTION 2 - In order to insure that each member makes timely payments, a
    PENALTY SURCHARGE will be applied to each member's bill if the outstanding
    balance exceeds two months dues or $50.00 whichever is greater; the amount of
    the PENALTY SURCHARGE will be 25% of the outstanding balance, not to exceed
    $50. The President has the authority to waive this PENALTY SURCHARGE upon
    presentation of the member's case to him, however, chronic occurrences shall
    result in a requirement that the PENALTY SURCHARGE be paid and the Board shall
    determine if the member's financial misconduct should result in revocation of
    membership.
</p>

<p>
    SECTION 3 - Gas and oil purchases or pre-heats paid for by the pilot and
    accompanied by receipts may be deducted from flying costs. Other allowable
    expenses incurred on flights away from the home base must be presented to the
    Treasurer for reimbursement. See the ADDENDUM for excluded items.
</p>

<h3>ARTICLE V - DELINQUENCY OF MEMBERS ACCOUNTS</h3>

<p>
    SECTION 1 - Any member of the CLUB exceeding the debt limit as prescribed in
    ARTICLE XIII, Section 3, shall lose flying privileges until such time as the
    delinquent portion of the account is paid.
</p>

<p>
    SECTION 2 - Exceptions to Section 1 above may be granted by the Board of
    Directors in case of extreme hardship. Any plea for exception must be made in
    writing prior to the loss of privileges. In no case will the debt be excused.
</p>

<p>
    SECTION 3 - In the event of the necessity to take or to threaten to take
    legal action against a member to recover monies due the CLUB, the member will
    be liable for reasonable attorney fees, court costs and other costs associated
    with collecting the debt. The member cannot be considered to be in good
    standing until such costs and fees are collected.
</p>

<h3>ARTICLE VI - PAYMENT OF BILLS</h3>

<p>
    SECTION 1 - All bills presented to the CLUB for payment must be forwarded to
    the Treasurer. Only bills which are legitimate and authorized shall be paid.
    Bills will be paid by check drawn by the Treasurer or the President.
</p>

<p>
    SECTION 2 - A bill will be considered authorized if accrued in a manner
    prescribed in the By-Laws or as approved by the Board of Directors of the CLUB.
</p>

<h3>ARTICLE VII - MAINTENANCE</h3>

<p>
    SECTION 1 - The aircraft of the CLUB shall be maintained according to FAA
    regulations.
</p>

<p>
    SECTION 2 - No regularly scheduled maintenance shall be performed on the
    aircraft by any member (except gas, oil, air, and superficial cleaning) unless
    authorized by the appropriate Vice-President for Maintenance or the President.
</p>

<p>
    SECTION 3 - <st1:city w:st="on"><st1:place w:st="on">Sale</st1:place></st1:city>
    or purchase of aircraft, including attachments and accessories shall comply
    with FAA regulations. The bill of sale must be signed by the President. Any
    sale or purchase of aircraft must be approved by a two-thirds majority of a
    quorum of members.
</p>

<h3>ARTICLE VIII - INSURANCE</h3>

<p>
    SECTION 1 - The CLUB shall carry public liability and property-damage
    insurance on all its aircraft in an amount deemed necessary by the Board of
    Directors. <st1:city w:st="on"><st1:place w:st="on">Hull</st1:place></st1:city>
    insurance shall be obtained on the aircraft as determined by the Board of
    Directors.
</p>

<p>
    SECTION 2 - All members shall be responsible for understanding the limits,
    restrictions, and exclusions of the CLUB's insurance policy and shall not hold
    the officers liable for any failure to provide certain policy coverage.
</p>

<p>
    SECTION 3 -The CLUB will defend any, and/or all, officers from personal
    financial exposure in any lawsuit against them on behalf of the CLUB. Specific
    insurance policy coverage may be obtained to provide this protection.
</p>

<h3>ARTICLE IX - LIABILITY OF MEMBERS</h3>

<p>
    SECTION 1 - The CLUB shall be liable for the damage of any property involved
    in an accident which is due to an undetectable mechanical failure of the
    aircraft. An undetectable mechanical failure is one that would not be
    discovered in a thorough <span class=SpellE>walkaround</span> inspection or
    during the preflight <span class=SpellE>runup</span>.
</p>

<p>
    SECTION 2 - A CLUB member shall be liable for the damage to any aircraft
    involved in an accident, not covered by insurance (subject to the exception in Section
    5), when due to the member's negligence or poor judgment.
</p>

<p>
    SECTION 3 - Whether any incident/accident is caused by negligence and/or
    poor judgment or mechanical failure will be determined by the Board of
    Directors (and when appropriate, with the aid of an official FAA/NTSB accident
    report.
</p>

<p>
    SECTION 4 - When a CLUB private pilot (or higher) and a CLUB student pilot
    are flying together, the private pilot is considered the pilot in command and,
    therefore, responsible for the safe operation of the aircraft. Any CLUB member
    employing a CFI (not a member of the CLUB) shall be liable as per Section 2
    above.
</p>

<p>
    SECTION 5 - Providing the Board of Directors determines that a member is not
    in violation of Section 1, 2, and 4, the CLUB will pay the insurance deductible.
</p>

<p>
    SECTION 6 - If policy coverage is not applicable, the CLUB shall not be
    liable for any personal property losses of the members.
</p>

<h3>ARTICLE X - FLIGHT RULES</h3>

<p>
    SECTION 1 - All flights must be scheduled in advance in the prescribed
    manner.
</p>

<p>SECTION 2 - Solo night flying by student pilots is prohibited. </p>

<p>
    SECTION 3 - Members must at all times comply with FAA rules and regulations.
</p>

<p>
    SECTION 4 - Except in emergencies, all takeoffs and landings must be at
    airports suitable for safe operation of the aircraft.
</p>

<p>
    SECTION 5 - A member starting up an aircraft must pay for at least thirty
    minutes of flying time.
</p>

<p>
    SECTION 6 - Only certified flight instructors approved by the Board of
    Directors shall give instruction in CLUB aircraft.
</p>

<p>
    SECTION 7 - Members must comply with notices posted in or on the CLUB
    aircraft or other CLUB property or designated posting areas. All notices thus
    posted must be brought to the attention of the President by the person posting.
</p>

<p>
    SECTION 8 - Any student who has not flown for two calendar months will check
    out with a CFI and have his logbook endorsed before flying solo.
</p>

<p>
    SECTION 9 - A member who has not flown for 90 days must receive a checkout
    from a CFI prior to flying solo or carrying passengers. FAA regulations require
    that the member make <span class=SpellE>notless</span> than three takeoffs and
    landings as sole manipulator of the aircraft prior to carrying passengers.
</p>

<p>
    SECTION 10 - Any new member must receive a checkout in each plane he is
    eligible to fly by a CLUB officer before flying with or without passengers.
</p>

<h3>ARTICLE XI - SCHEDULING OF AIRCRAFT</h3>

<p>
    SECTION 1 - A member must schedule the aircraft he is authorized to fly. If
    he is not present 30 minutes after the starting time scheduled, the plane will
    be considered available for another member PROVIDED that the answering service
    is notified of the change. In the case of &quot;all day&quot; reservations, the
    plane shall be available only with the approval of the scheduling member. The
    penalty for failing to cancel an &quot;all day&quot; reservation will be the
    hourly rate of the reserved airplane times the minimum hourly time for an
    overnight reservation as per Section 5 below.
</p>

<p>
    SECTION 2 - In the event of conflicting schedules which cannot be resolved
    by the members, the President or other officer of the CLUB shall determine the priority.
</p>

<p>
    SECTION 3 - The primary trainer is the only aircraft available to Restricted
    Members, except as stated in ARTICLE II, Section 3. The primary trainer shall
    be used for student training and local flights. The plane may not be taken out
    overnight or scheduled for a block of time exceeding five hours without prior
    approval of the President.
</p>

<p>
    SECTION 4 - Student pilots who have been checked out and signed off by their
    instructor may schedule the secondary trainer with the following restrictions:
    A plane may not be scheduled more than one week in advance, and may not be
    taken out overnight without permission of the President. Students may only fly
    trainers (Primary and Secondary) regardless of class of membership.
</p>

<p>
    SECTION 5 - Any member keeping an aircraft overnight during the week must
    average one hour flying time for each twenty-four hour period during the week
    and average two hours for each twenty-four hour period on weekends or holidays.
    The weekend is counted as starting at sunset Friday until sunset Sunday.
</p>

<h3>ARTICLE XII - EQUIPMENT</h3>

<p>
    SECTION 1 - The aircraft shall have at least the minimum equipment required
    by the FAA regulations for the type flight involved.
</p>

<h3>ARTICLE XIII - FINANCIAL STRUCTURE</h3>

<p>
    SECTION 1 - The initiation fee for the Restricted <span class=GramE>Membership,</span>
    and Full Membership are published in the ADDENDUM.
</p>

<p>
    SECTION 2 - The monthly dues and aircraft flying costs shall be subject to
    periodic review by the officers of the CLUB, and [except as provided in Section
    3 below,] if it is deemed necessary, the dues or hourly rates to members may be
    adjusted by an amount not to exceed 10% of the current levy. The percentage
    adjustment will remain in effect until ratified or rejected by a quorum of the
    membership. Dues reflect the cost of fixed expenses plus a 10% surcharge for
    additional equipment purchases. The flying costs (hourly rates) shall be
    established by the Board of Directors upon consultation with the Treasurer.
    Hourly rates shall include gas, oil, maintenance, and overhaul reserve. The
    dues and hourly rates currently established shall be published in the ADDENDUM.
</p>

<p>
    SECTION 3 - Due to the volatility of gas prices and their effect on the
    financial vitality of the CLUB, the Board of Directors may vary the hourly
    rates due to fluctuations in gasoline prices as necessary without seeking
    membership approval.
</p>

<p>SECTION 4 - The member's debt limit is as follows: </p>

<ol start=1 type=1>
    <li>
        Monthly dues shall not fall
        behind by more than two months.
    </li>
    <li>
        Flying costs MUST be paid
        before the end of the month of the billing date.
    </li>
    <li>
        A member shall be suspended
        if the total accumulated unpaid dues and flying costs equals 200% of his
        membership monthly dues.
    </li>
</ol>

<p>
    SECTION 5 - Any member obtaining a new or additional flight (exclusive of
    type) rating or license shall be allowed a $50 flying credit.
</p>

<p>
    SECTION 6 - Any member who recruits another person into the CLUB shall be
    entitled to a flying credit equal to 10 percent of the initiation fee that is
    incurred by the new recruit. The new member must state on the membership
    application the name of the person who recruited him.
</p>

<h3>ARTICLE XIV - COMPENSATION FOR SERVICES RENDERED</h3>

<p>
    SECTION 1 - Salaries of the officers shall be as follows: $10.00 per month
    flying time in authorized planes in accordance with membership.
</p>

<ul type=disc>
    <li>President</li>
    <li>Treasurer</li>
    <li>VP's for Maintenance</li>
    <li>Assistant Treasurer</li>
    <li>Safety Officer</li>
    <li>Secretary</li>
</ul>

<p>
    An additional $10.00 flying time shall be awarded if the officer attends the
    regularly scheduled CLUB meeting for that month.
</p>

<p>
    SECTION 2 - The salary as stated in Section 1 may be withdrawn at any time
    by a two-thirds vote of a quorum of members at a regular meeting.
</p>

<h2>BY-LAWS ADDENDUM</h2>

<p>
    Hourly flying rates are established at the lowest possible level consistent
    with good financial practices. Revenues obtained from billed charges for flying
    CLUB airplanes are used to pay for variable direct costs associated with
    operating the aircraft. (Dues pay fixed costs of the CLUB, i.e., insurance,
    loan costs, postage, etc.)
</p>

<p>Effective 2/01/2013, rates for flying the CLUB aircraft are: </p>

<ul type=disc>
    <li>Cessna 152 (N89652) $79.75 per hour</li>
    <li>Cessna 172 (N6203F) $109.00 per hour</li>
    <li>Cessna 172 (N75903) $109.00 per hour</li>
    <li>Archer II (N3001W) $123.00 per hour</li>
    <li>Diamond Star (N213DS) $122.50 per hour</li>
</ul>

<p>
    These hourly rates are based on an average cost of $6.782 per gallon of
    aviation gasoline.
</p>

<p>
    Time flown is determined from the tachometer hour recorder and is billed for
    each hour and fraction of hours shown between the beginning and the conclusion
    of the flight.
</p>

<p>
    Flying costs which (if incurred) must be paid by members include, but are
    not limited to the following:
</p>

<ol start=1 type=1>
    <li>Deicing of aircraft </li>
    <li>
        <span class=SpellE>Tiedown</span>/landing
        fees at transient airports
    </li>
    <li>
        Handling fees, flight plan
        fees, departure fees, etc.
    </li>
    <li>
        <st1:place w:st="on">Battery</st1:place>
        boost (if pilot's fault)
    </li>
</ol>

<p>The monthly dues currently in effect (4/1/2004) are: </p>

<ul type=disc>
    <li>
        $41.50/mo - Restricted
        Membership
    </li>
    <li>
        $58.00/mo - Special
        Membership
    </li>
    <li>$58.00/mo - Full Membership </li>
    <li>
        $41.50/mo - Associate
        Membership
    </li>
    <li>
        $20.75/mo each - Restricted
        Membership Couples
    </li>
    <li>
        $29.00/mo each - Full
        Membership Couples
    </li>
    <li>
        $11.00/mo - Inactive
        Membership
    </li>
</ul>

<p>The initiation fees currently in effect are: </p>

<ul type=disc>
    <li>
        $200.00 for the Restricted
        Membership
    </li>
    <li>
        $500.00 for the Full
        Membership
    </li>
</ul>

<p>The current rate for the MONTHLY FINANCE CHARGE is: </p>

<p>1.5% of the unpaid billing cycle balance. </p>

<p>The Cessna 152 is designated to be the CLUB's primary trainer. </p>

<p>The Cessna 172's are designated to be the CLUB'S secondary trainer. </p>

<p>The secondary trainer surcharge is $8.00 per hour. </p>

<p>
    The maximum utilization of the CLUB's aircraft will be achieved only if the
    members are conscientious about scheduling and releasing reserved time in the
    aircraft. If conflicting schedules exist, members are encouraged to contact
    those members who have the reservations to see if there has been a last minute
    change in plans. Similarly, members who find that they are unable to use time they
    have scheduled are urged to cancel their reservations as early as possible.
</p>

<p>
    Members who return home early from trips should cancel the remaining portion
    of their time. Members who find out that they cannot get out to the airport
    until several hours after the starting time of their reservation should cancel
    any part of their time prior to when they can get out to the airport. Any
    difficulties in scheduling should be brought to the attention of the President
    so that scheduling abuses may be identified and dealt with.
</p>

<h2>LFC POLICIES</h2>

<p>
    <strong>152 Overnight Policy:</strong> The CLUB president currently uses the
    following policy to allow overnight use of the Cessna 152: If the member is
    willing to wait until the day he/she wants the airplane and if the airplane has
    not been scheduled, the president will routinely allow use of the airplane
    overnight and for any part of the next day that remains unscheduled.
</p>

<p>
    <strong>Cheap flying for ferrying planes for maintenance:</strong> In order
    to ferry airplanes for maintenance, the CLUB maintenance officers are
    authorized to ask for members who would be willing to split the costs of the
    flight 50-50. Members should register their willingness to participate in this
    program by notifying each maintenance officer individually. The flight logs
    should reflect the split by showing half the time being charged against the
    airplane and half against the individual member.
</p>

<p>
    <strong>Winter surcharge to pay for pre heats:</strong> Effective December,
    2011 the CLUB membership voted to institute a $1.00 surcharge for each log
    entry between December 1 and March 31st each winter to recover the costs of
    providing free pre-heats on all CLUB aircraft. The CLUB picks up the tab for
    pre-heats both at the home base of operations and at transient airports as
    well. If a member elects to have an airplane put in a heated hangar overnight,
    the CLUB will reimburse $15 towards that cost.
</p>

<p>
    <strong>
        Penalty for not attending <st1:state w:st="on">Wash</st1:state> and
        Wax Party:
    </strong> Effective June, 1988 the CLUB membership voted to require
    all club members to attend at least one <st1:state w:st="on"><st1:place w:st="on">Wash</st1:place></st1:state>
    and Wax party each year. If a member attends both sessions, the member receives
    a $50 flying credit.<span style='mso-spacerun:yes'>&nbsp; </span>If a member
    attends neither session, the member is assessed $50.00. If a member attends one
    session, the member 'breaks even.'
</p>

<p>
    <strong>Wings program flying credit award:</strong> Effective June, 1992,
    the CLUB membership elected to award a $50 flying credit to any CLUB member who
    received any level of WINGS award.
</p>

<p>
    <strong>Mechanical difficulty, how much is owed:</strong> In the event of a
    mechanical problem with an airplane resulting in a log entry of less than half
    an hour, the CLUB will routinely waive the flying penalty (FLP) assessment but
    will not waive the actual hourly usage under the theory that the pilot is able
    to log the taxi time as flight time and therefore benefits from the time spent
    in the airplane.
</p>

<p>
    <span class=GramE>
        <strong>Curbing inactive membership abuse:</strong> If a
        member wants to reactivate an inactive membership, the CLUB will expect them to
        remain active for a period of at least a year to avoid misuse of this
        privilege.
    </span> Violation of this policy will result in a penalty equal to
    three active <span class=GramE>months</span> dues.
</p>

<p>
    <strong>Returning to a higher level after vacating:</strong> If a member
    wants to go back to a higher membership level after vacating that level, the
    CLUB will assess an initiation fee equivalent to the lower of 1) the rate for
    inactive dues times the number of months that the member has vacated the higher
    level or 2) the difference in the current initiation fees for the membership
    levels involved.
</p>

<p>
    <strong>Requirement to attend two meetings a year:</strong> In February,
    1995 the membership voted to require all active members to attend at least two
    regular meetings per year. Wash/Wax attendance does not count for this
    requirement. Failure to do so will result in a $50 penalty. The president can
    excuse a member if his/her schedule does not permit attendance.
</p>

<p>
    <strong>Aircraft Keys:</strong> A box with access to the Cessna keys and a
    box with access to the Archer keys is available in the club office.
</p>

<p>
    <strong>Duties to earn new member recruitment award:</strong> In return for receiving
    a flying credit for recruiting a new member, each member who recruits a new
    member is expected to show the new member the ropes. The Safety Officer has a
    checklist for this purpose and also, is available to coordinate checkouts in
    the airplanes.
</p>

<p>
    <strong>Required use of low wing aircraft protective covers:</strong> Unless
    the next user of the airplane is on the ramp at the end of the flight,
    replacement of any cover for the low wing aircraft is mandatory after each
    member's reservation. If you find that the cover has been left off, please
    report this to the plane's maintenance officer that appropriate measures can be
    taken.
</p>

<p>
    <strong>Payments due by end of the month:</strong> Since the by-laws call
    for payment of the current month's dues on the first day of the current month
    and, since the by-laws call for payment of flying within ten days after receipt
    of the monthly statement, the CLUB will deem a payment to be late if it was not
    been received at the CLUB's post office box by the time the final pickup is
    done on the first day (or later) of the subsequent month. The member shall be
    liable for late penalties/finance charges in that event. It is strongly
    suggested that payments be mailed no later than the 25th of the current month
    to avoid being charged penalties or finance charges.
</p>

<p>
    <strong>Don't claim tie down or landing fees:</strong> Members should check
    gas receipts that are turned in to insure that they do not claim tie-down or
    landing fees that are not reimbursable. This will insure that the member does
    not incur unexpected finance charges for failing to pay the bill in full. The
    members' name and the aircraft's tail number must be on each gas receipt to
    insure timely credit.
</p>

<p>
    <strong>Use CLUB oil:</strong> The CLUB has elected to use 15/50 <span class=SpellE>multigrade</span> oil in all of its aircraft. The only exception
    would be when mineral oil is used after an engine change or after replacing a
    cylinder. The CLUB keeps oil in a cabinet located above the office on the
    landing in the hangar. Members are asked to replace oil from that inventory if
    oil is needed before the flight at hand. Notify <st1:personname w:st="on">
        Bill
        Saunooke
    </st1:personname> if there is less than a half case of oil left.
</p>

<p>
    <strong>Malfunctions away from home:</strong> If an airplane has to be left
    at some other airport due to mechanical difficulties, the member must notify
    the affected pilots who scheduled the airplane after him and the member must
    notify the maintenance officer so the schedule can be modified as appropriate.
    The member is responsible for the <span class=SpellE>tach</span> time up until
    the problem and should log the time in the flight logbook. The member is
    responsible for getting home. The CLUB is responsible for getting the airplane
    home.
</p>

<p>
    <strong>Weather prevents getting home:</strong> If an airplane has to be
    left at some other airport due to weather difficulties, the member must notify
    the affected pilots who scheduled the airplane after him and the member must
    notify the maintenance officer so the schedule can be modified as appropriate.
    The member is responsible for the <span class=SpellE>tach</span> time up until
    the problem and should log the time in the flight logbook. The member is
    responsible for getting home. The member is also responsible for getting the
    airplane home. If that cannot be accomplished in a few days, the CLUB will
    assign pilots to get after the airplane and the cost of the chase plane and the
    stranded plane will be billed to the member. There will not be any penalties
    assessed due to lost availability of the stranded airplane. This is done to
    minimize &quot;get-home-<span class=SpellE>itis</span>.&quot;
</p>

<p>
    <strong>
        Policy on Gas Reimbursements:<span style='mso-spacerun:yes'>
            &nbsp;
        </span>
    </strong>Effective: July 2010,<span style='mso-spacerun:yes'>
        &nbsp;
    </span>the gas rebate policy was changed to reimburse members for gas expenses at
    the home field price instead of the purchased price.<span style='mso-spacerun:yes'>&nbsp;</span>This means that a member will be
    reimbursed for out of pocket costs plus get an additional rebate when buying
    less expensive gas.<span style='mso-spacerun:yes'>&nbsp; </span>Conversely, if
    gas is purchased at a higher price that at the home field<span class=GramE>
        ,<span style='mso-spacerun:yes'>&nbsp;</span>only
    </span> the home field price will be
    reimbursed.
</p>
</p>