<h2>Frequently Asked Questions</h2>
<h3>Why charge by the tach hour?</h3>
<p>
    The tach time counter in the airplane counts up at a rate less than real
    time anytime the engine is run below approximately 2400rpm.  On average,
    tach time will be 75% to 95% of hobbs time.  Charging by the tach hour
    can save you up to 25% relative to charging by the hobbs hour.  If you
    throttle back and save some gas (which the club is paying for), then you
    save money.  And, if you're sitting at the end of the runway, #12 for
    take-off, you are not paying through the nose while idling!  If you are
    building time, this is a great feature that the club offer.
</p>
<h3>Does the club's insurance cover members?</h3>
<p>
    Yes.  The club carries $100,000 per person / $1,000,000 per accident
    liability insurance in the event of an injury or accident.  This policy
    protects both you and the club.
</p>
<h3>Where are the planes?</h3>
<p>
    The club's planes are tied down at the West General Aviation Ramp of Blue Grass
    Airport, near the club's hangar.  The address of the club hangar is 
    <a href="https://www.google.com/maps/place/Gumbert+Rd,+Lexington,+KY+40510/%4038.0376964,-84.612637,892m/data=!3m1!1e3!4m2!3m1!1s0x884268143056900b:0x877a4bf09a93846a">
    4480 George Gumbert Rd</a>.
</p>
<h3>What instructors can I use in club airplanes?</h3>
<p>
    A CFI must receive prior approval from the club before instructing in
    the club airplanes.  A list of instructors who have expressed interest
    in instructing for the club is available <a href="/Instructors">here</a>.
    If your preferred instructor is not already on the list, have him or her
    contact the club's safety officer for further information.
</p>