<p class="lead text-center">
    Pay on Tach Time not Hobbs Time
</p>
<div id="slides" class="carousel slide" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="active item">
            <div class="hero-unit text-center">
                <h3>VFR flight from KLEX to 27K</h3>
                <iframe width="560" height="315" src="http://www.youtube.com/embed/w3CNOl7JMTk" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <h3>Our Fleet Headliner: the Diamond Star</h3>
                <img src="~/Content/213DS_big.jpg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <h3>Our entire fleet is equipped with IFR panel-mount GPS</h3>
                <img src="~/Content/Garmin430W.jpg">
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#slides" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#slides" data-slide="next">&rsaquo;</a>
</div>
<h2>About Us</h2>
<p>
    Chartered as a nonprofit Kentucky corporation in 1954, the Lexington Flying Club, Inc. presently can provide you with access to six airplanes.  They are a Cessna 152, three Cessna 172's, a Piper Archer II and a Diamond Star, DA-40.
</p><p>
    The club is operated to provide its members with low cost flying, safety training and continuing pilot education.  All aircraft are based at Lexington's Blue Grass Airport and are maintained by FAA certified maintenance personnel to assure prompt and qualified service.  A Club "Maintenance Officer" is elected for each airplane to assure that any discrepancies reported by Club pilots are quickly corrected.  Scheduling of Club airplanes is coordinated through a 24 hour computerized telephone and internet answering service so members are assured of getting immediate status / availability information about the aircraft anytime they wish to fly.  You will find that, if you plan to fly two and a half to three hours or more a month, a Club membership is more economical than renting.

</p><p>
    The Club has approximately 85 members (approximately 50 active flyers.)  Flying experience is not required for membership; in fact, about one fifth of our members are student pilots, taking lessons, and working towards that private pilot certificate.

</p><p>
    Ladies, please consider us as well; three of our pilots with wallets full of ratings carry those wallets in their purses!

</p><p>
    Although the Club is not a flight school, per se, Club approved instructors are available and have helped many of the Club's pilots obtain private and instrument licenses/ratings.  We will be glad to recommend an instructor to you if you don't already have someone in mind.
</p>

<h2>Meetings</h2>
<p>
    The club has regular monthly meetings at 7pm on the second Tuesday of each
    month at our hangar on the west side of Bluegrass Airport.  See this
    <a href="~/Content/hanger-directions.jpg">diagram</a> for directions to the hangar.
    Badge access is required or you'll have to make arrangements to be escorted inside the fence.
        
    One monthly meeting each quarter is used
    as a forum for a safety program.  The club also has occasional social programs
    such as an annual banquet, fly-ins, picnics, and wash/wax parties.
</p>
<h2>Membership Levels</h2>
<p>
    There are two available membership levels, Restricted and Full.  Restricted members may fly the Cessnas (152 and 172's) after a $200.00 initiation fee.  Restricted members pay monthly dues of $41.50.  Full members may fly all airplanes after a $500.00 initiation fee.  Full members pay monthly dues of $58.00.
</p><p>
    There is also a membership that bridges the two main membership levels, providing a way to incrementally pay the difference in initiation fees as you continue to fly the Cessna 172's. Once the FULL membership initiation fee is paid off, you can then start flying the Archer and the Diamond Star.
</p><p>
    Pilots in the lower (Restricted) level of membership fly the Cessna 172's at $8/hr more than the rate shown below.  Other restrictions on the lower membership level include a restriction on how far out in time you may schedule (7 days) and a restriction to single day reservations.  See the <a href="bylaws.php">Bylaws</a> for more information about the club membership levels.
</p>

<h2>Planes</h2>
<p>All the club 4-place aircraft have coupled autopilots with heading bug. All six aircraft are IFR Certified, have two or four place intercoms, and, best of all, IFR enroute and approach approved moving map GPS units!  We are in the process of upgrading our GPS units to ones with WAAS capabilities.  All airplanes also have dual Nav-Comms.  We have GPS simulators that you can load on your PC and practice with the various GPS units while in the comfort of your own home or office.</p>
<div class="row container-fluid">
<ul class="list-unstyled">
    <li class="col-md-4">
        <div class="thumbnail">
            <a href="~/Content/89652_big.jpg" class="thumbnail">
                <img src="~/Content/89652_t.jpg" alt="Cessna 152">
            </a>
            
            <img src="~/Content/89652_panel.jpg" alt="Cessna 152 Panel">
            <h3>N89652</h3>
            <p>1979 Cessna 152.  Equipped with non-WAAS Garmin/Apollo <a href="http://www.garmin.com/products/GX50/">GX50</a> IFR Enroute and Approach certified panel mount unit.</p>
        </div>
    </li>
    <li class="col-md-4">
        <div class="thumbnail">
            <a href="~/Content/75903_big.jpg" class="thumbnail">
                <img src="~/Content/75903_t.jpg" alt="Cessna 172N">
            </a>
            <a href="~/Content/75903_panel_big.jpg" class="thumbnail">
                <img src="~/Content/75903_panel.jpg" alt="75903 Panel">
            </a>
            <h3>N75903</h3>
            <p>1977 Cessna 172N.  Equipped with Garmin <a href="https://buy.garmin.com/shop/shop.do?cID=194&pID=301">430W</a> WAAS Enabled GPS/Nav/Comm system and S-TEC autopilot with altitude hold feature.  Provides wing-leveler capability even after gyro or vacuum pump failure.</p>
        </div>
    </li>
    <li class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/6203F_t.jpg" alt="Cessna 172N">
            <img src="~/Content/6203F_panel.jpg" alt="6203F panel">
            <h3>N6203F</h3>
            <p>1980 Cessna 172N.  Equipped with Garmin <a href="https://buy.garmin.com/shop/shop.do?cID=194&pID=301">430W</a> WAAS Enabled GPS/Nav/Comm system and S-TEC autopilot.  Provides wing-leveler capability even after gyro or vacuum pump failure.</p>
        </div>
    </li>
</ul>
</div><div class="row container-fluid">
<ul class="list-unstyled">
    <li class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/65641_t.jpg" alt="Cessna 172R">
            <img src="~/Content/65641_panel.jpg" alt="Cessna 172R panel">
            <h3>N65641</h3>
            <p>2005 Cessna 172R.  Equipped with KLN94 IFR GPS and MFP, and a coupled autopilot with heading bug.</p>
        </div>
    </li>
    <li class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/213DS_t.jpg" alt="Diamond Star DA-40">
            <img src="~/Content/213DS_panel.jpg" alt="Diamond Star DA-40 panel">
            <h3>N213DS</h3>
            <p>2004 Diamond DA-40.  Equipped with Garmin 530/430 radio stack and King KAP 140 two-axis (pitch and roll) autopilot with altitude hold feature.</p>
        </div>
    </li>
    <li class="col-md-4">
        <div class="thumbnail">
            <a href="~/Content/3001W_big.jpg" class="thmubnail">
                <img src="~/Content/3001W_t.jpg" alt="Archer II">
            </a>
            <a href="~/Content/3001W_panel_big.jpg" class="thumbnail">
                <img src="~/Content/3001W_panel.jpg" alt="Archer II panel">
            </a>
            <h3>N3001W</h3>
            <p>1979 Piper Archer II. Equipped with Garmin <a href="https://buy.garmin.com/shop/shop.do?cID=194&pID=301">430W</a> WAAS Enabled GPS/Nav/Comm system and S-TEC autopilot.  Provides wing-leveler capability even after gyro or vacuum pump failure.</p>
        </div>
    </li>
</ul>
</div>

<h3>Rates (effective 8/15/15)</h3>
<table class="table table-striped">
    <thead>
        <tr><th>Model</th><th>Per Tach Hour</th><th>Per Hobbs Hour (approx.)</th><th>Notes</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>Cessna 152</td>
            <td>$84.25</td>
            <td>$69.00</td>
            <td>Available to restricted members</td>
        </tr>
        <tr>
            <td>Cessna 172</td>
            <td>$111.25</td>
            <td>$90.50</td>
            <td>Available to restricted members for +$8/hr</td>
        </tr>
        <tr>
            <td>2005 Cessna 172R</td>
            <td>$112.75</td>
            <td>$91.00</td>
            <td>Available to restricted members for +$8/hr</td>
        </tr>
        <tr>
            <td>2004 Diamond Star</td>
            <td>$127.00</td>
            <td>$92.75</td>
            <td>Available to full members only</td>
        </tr>
        <tr>
            <td>1979 Archer II</td>
            <td>$127.50</td>
            <td>$101.00</td>
            <td>Available to full members only</td>
        </tr>
    </tbody>
</table>
<p>
    Rates include all gas, oil, maintenance, insurance and related expenses.  The Club carries $100K per person / $1,000,000 per accident liability insurance in the event of an injury or accident.  This policy protects both you and the club!
</p><p>
    If you fly one of the new Cessna's offered in the area, be aware that you are exposing yourself to a $150,000+ liability if you prang one of their airplanes.  Typical FBO coverage covers only the FBO and provides no liability coverage to you, the renter.  And, they definely will come after you for their $2,500 - $5,000 deductible.  In fact, if you rent anybody's plane, be sure to consider having renter's insurance to cover you.  None of this is needed if you are just flying LFC planes.
</p>

<h3>More Info</h3>
<ul class="nav nav-list">
    <li><a href="https://www.facebook.com/lexflyclub">LFC Facebook Page</a></li>
    <li><a href="https://my.schedulemaster.com/">Schedule Master</a></li>
    <li>@Html.ActionLink("Aviation Links", "Links")</li>
</ul>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 5000,
            });
        });
    </script>
}