<h2>Joining the club</h2>
<p>
    If you're interested in joining, feel free to contact us and we'll make arrangements to meet you at the airport and show you the airplanes.  If you are ready to join us, that's easy too!  You'll need to read and fill out two forms, and then mail them along with your initial payments to the address at the bottom of this page.  These documents can also be dropped off at the club's monthly meeting.
</p>
<ol>
    <li><a href="~/Content/Insurance_Summary_20151015.pdf">Insurance Summary Form</a></li>
    <li><a href="~/Content/Lexington%20Flying%20Club%20Application.pdf">Application Form</a></li>
    <li>A check for the initiation fee ($200 for restricted, $500 for full)</li>
    <li>A check for first month's dues ($41.50 for restricted, $58 for full)</li>
    <li>A check for $150 for the refundable airport badge deposit.</li>
</ol>
<h2>Airport Badges</h2>
<p>
    An Airport Operations Area (AOA) badge from Bluegrass Airport is required for access to the hangar and must be displayed at all times on the airport ramp.  If you already possess a badge (for example, badge holders from NexGen or the Aviation Museum), then the airport badge deposit listed above is not required.  There is a $50 fee paid to the airport for issuance of a new badge.
</p><p>
    When a member either leaves the club or his/her badge expires, the member must return their airport badge.  If they are unable to do so, the $150 badge deposit will not be refunded.  We have been advised that public safety officers will be sent to attempt to retrieve a badge if the member fails to heed the clubs demand for return of the badge.
</p>