
<h3>Links</h3>
<ul class="nav nav-list">
    <li><a href="https://my.schedulemaster.com/">Schedule Master</a></li>
    <li><a href="~/Content/Republic%20Insurance%20Endorsement%20Sheets%2020110525.pdf">The Club's Insurance Policy Endorsement Pages</a></li>
    <li><a href="~/Content/Republic%20Insurance%20Policy%2020100515.pdf">The Club's Insurance Policy</a></li>
    <li><a href="~/Content/KLEX%20departure.doc">ATIS info / departure form</a></li>
    <li><a href="http://www.airnav.com/fuel/local.html">Fuel Prices around LEX</a></li>
    <li><a href="http://download.aopa.org/ustprocs/current/SE-1/lex_airport_diagram.pdf">LEX Taxi Diagram</a></li>
    <li>@Html.ActionLink("Instructors", "Instructors")</li>
    <li><a href="http://av-info.faa.gov/designeesearch.asp">Pilot Examiners</a></li>
    <li><a href="http://www.landings.com/evird.acgi$pass*44031539!_h-www.landings.com/_landings/pages/search/certs-me.html">Aviation Medical Examiners</a></li>
</ul>
<h3>Local Sites</h3>
<ul class="nav nav-list">
    <li><a href="http://www.bluegrassairport.com/">Our Home: Blue Grass Airport</a></li>
    <li><a href="~/Content/LEXfactsheetGeneral.doc">Bluegrass Airport Fact Sheet</a></li>
    <li><a href="http://www.aviationky.org/">Aviation Museum of Kentucky</a></li>
</ul>
<h3>FAA</h3>
<ul class="nav nav-list">
    <li><a href="http://www.faasafety.gov/">FAA Safety</a></li>
    <li><a href="http://www.faa.gov/about/office_org/field_offices/fsdo/lou/">Louisville FAA Flight Standards District Office (FSDO)</a></li>
    <li><a href="http://www.airweb.faa.gov/Regulatory_and_Guidance_Library/rgAdvisoryCircular.nsf/MainFrame?OpenFrameSet">FAA Advisory Circular list </a></li>
    <li><a href="http://www.faa.gov/library/forms/">List of various FAA official forms</a></li>
    <li><a href="~/Content/wings.html">Advisory Circular on FAA WINGS Program</a></li>
</ul>
<h3>Learning to Fly</h3>
<ul class="nav nav-list">
    <li><a href="http://www.gleim.com/Aviation/LearnToFly.html">What it takes to get your private pilot's license</a></li>
    <li><a href="http://www.deltaweb.co.uk/spitfire/hiflight.htm">High Flight - The Poem and its origins</a></li>
    <li><a href="http://www.allstar.fiu.edu/aero/fltmidfly.htm">How Airplanes Fly - A Tutorial</a></li>
    <li><a href="http://www.aopa.org/asf/publications/piper_cherokee.pdf">Guide to the Piper Cherokee Archer and Arrows</a></li>
</ul>
<h3>Weather</h3>
<ul class="nav nav-list">
    <li><a href="http://adds.aviationweather.gov/tafs/">TAF Aviation Forecast for LEX</a></li>
    <li><a href="http://weather.noaa.gov/fax/graph.shtml">National Weather Service Aviation Weather Chart Fax Images </a></li>
    <li><a href="http://www.duats.com/">DUATS access via the internet</a></li>
</ul>
<h3>Flight Planning</h3>
<ul class="nav nav-list">
    <li><a href="http://www.aeroplanner.com/">Aeroplanner</a></li>
</ul>
<h3>Aviation Resources</h3>
<ul class="nav nav-list">
    <li><a href="http://www.landings.com/">Landings - Probably the best general aviation website</a></li>
    <li><a href="http://www.aopa.org/">AOPA web site</a></li>
    <li><a href="http://www.avweb.com/">Avweb – GA News and Much More</a></li>
    <li><a href="http://risingup.com/">Rising Up – Aviation Resources</a></li>
    <li><a href="http://www.aero-news.net/">Aviation News – Aero-net</a></li>
    <li><a href="http://www.flightsafety.org/home.html">Flight Safety Foundation</a></li>
</ul>
<h3>Airplanes for Sale</h3>
<ul class="nav nav-list">
    <li><a href="http://www.trade-a-plane.com/">Trade A Plane Online</a></li>
    <li><a href="http://www.traderonline.com/">Aerotrader Online</a></li>
    <li><a href="http://www.aso.com/">Aircraft Shopper Online</a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
</ul>