
<h3>Links</h3>
<ul class="nav nav-list">
    <li><a href="https://my.schedulemaster.com/">Schedule Master</a></li>
    <li><a href="~/Content/Republic%20Insurance%20Endorsement%20Sheets%2020110525.pdf">The Club's Insurance Policy Endorsement Pages</a></li>
    <li><a href="~/Content/Republic%20Insurance%20Policy%2020100515.pdf">The Club's Insurance Policy</a></li>
    <li><a href="~/Content/KLEX%20departure.doc">ATIS info / departure form</a></li>
    <li><a href="http://www.airnav.com/fuel/local.html">Fuel Prices around LEX</a></li>
    <li><a href="http://download.aopa.org/ustprocs/current/SE-1/lex_airport_diagram.pdf">LEX Taxi Diagram</a></li>
    <li>@Html.ActionLink("Instructors", "Instructors")</li>
    <li><a href="http://av-info.faa.gov/designeesearch.asp">Pilot Examiners</a></li>
    <li><a href="http://www.landings.com/evird.acgi$pass*44031539!_h-www.landings.com/_landings/pages/search/certs-me.html">Aviation Medical Examiners</a></li>
</ul>
<h3>Local Sites</h3>
<ul class="nav nav-list">
    <li><a href="http://www.bluegrassairport.com/">Our Home: Blue Grass Airport</a></li>
    <li><a href="~/Content/LEXfactsheetGeneral.doc">Bluegrass Airport Fact Sheet</a></li>
    <li><a href="http://www.aviationky.org/">Aviation Museum of Kentucky</a></li>
</ul>
<h3>FAA</h3>
<ul class="nav nav-list">
    <li><a href="http://www.faasafety.gov/">FAA Safety</a></li>
    <li><a href="http://www.faa.gov/about/office_org/field_offices/fsdo/lou/">Louisville FAA Flight Standards District Office (FSDO)</a></li>
    <li><a href="http://www.airweb.faa.gov/Regulatory_and_Guidance_Library/rgAdvisoryCircular.nsf/MainFrame?OpenFrameSet">FAA Advisory Circular list </a></li>
    <li><a href="http://www.faa.gov/library/forms/">List of various FAA official forms</a></li>
    <li><a href="~/Content/wings.html">Advisory Circular on FAA WINGS Program</a></li>
</ul>
<h3>Learning to Fly</h3>
<ul class="nav nav-list">
    <li><a href="http://www.gleim.com/Aviation/LearnToFly.html">What it takes to get your private pilot's license</a></li>
    <li><a href="http://www.deltaweb.co.uk/spitfire/hiflight.htm">High Flight - The Poem and its origins</a></li>
    <li><a href="http://www.allstar.fiu.edu/aero/fltmidfly.htm">How Airplanes Fly - A Tutorial</a></li>
    <li><a href="http://www.aopa.org/asf/publications/piper_cherokee.pdf">Guide to the Piper Cherokee Archer and Arrows</a></li>
</ul>
<h3>Weather</h3>
<ul class="nav nav-list">
    <li><a href="http://adds.aviationweather.gov/tafs/">TAF Aviation Forecast for LEX</a></li>
    <li><a href="http://weather.noaa.gov/fax/graph.shtml">National Weather Service Aviation Weather Chart Fax Images </a></li>
    <li><a href="http://www.duats.com/">DUATS access via the internet</a></li>
</ul>
<h3>Flight Planning</h3>
<ul class="nav nav-list">
    <li><a href="http://www.aeroplanner.com/">Aeroplanner</a></li>
</ul>
<h3>Aviation Resources</h3>
<ul class="nav nav-list">
    <li><a href="http://www.landings.com/">Landings - Probably the best general aviation website</a></li>
    <li><a href="http://www.aopa.org/">AOPA web site</a></li>
    <li><a href="http://www.avweb.com/">Avweb – GA News and Much More</a></li>
    <li><a href="http://risingup.com/">Rising Up – Aviation Resources</a></li>
    <li><a href="http://www.aero-news.net/">Aviation News – Aero-net</a></li>
    <li><a href="http://www.flightsafety.org/home.html">Flight Safety Foundation</a></li>
</ul>
<h3>Airplanes for Sale</h3>
<ul class="nav nav-list">
    <li><a href="http://www.trade-a-plane.com/">Trade A Plane Online</a></li>
    <li><a href="http://www.traderonline.com/">Aerotrader Online</a></li>
    <li><a href="http://www.aso.com/">Aircraft Shopper Online</a></li>
</ul>
<h3>Searches</h3>
<ul class="nav nav-list">
    <li><a href="http://www.landings.com/evird.acgi$pass*97238852!_h-www.landings.com/_landings/pages/search/certs-pilot.html">Search for Pilots</a></li>
    <li><a href="http://www.airnav.com/">Search for info on airports or nav aids </a></li>
    <li><a href="http://162.58.35.241/acdatabase/acmain.htm">Search for registered Airplanes</a></li>
</ul>
<h3>Aviation Products</h3>
<ul class="nav nav-list">
    <li><a href="~/Content/Supplies/Flying Club Pilot Supplies.html">LFC Pilot Supplies we keep on hand</a></li>
    <li><a href="http://www.checkmateaviation.com/">Checkmate Checklists</a></li>
    <li><a href="http://bookstore.gpo.gov/subjects/sb-018.jsp">Aviation books for sale By the Government Printing Office</a></li>
    <li><a href="http://www.aircraftspruce.com/cathome.php">Aircraft and Pilot Supplies</a></li>
</ul>
<h3>Reciprocal Links</h3>
<ul class="nav nav-list">
    <li><a href="http://www.studentflyingclub.com/">Student Flying Club - Flight planning, aviation articles, flying clubs, online E6B simulator</a></li>
    <li><a href="http://www.bestaviation.net/">Best Aviation (find a flight school</a></li>
    <li><a href="http://www.beapilot.com/">Be a Pilot (Learn to Fly)</a></li>
    <li><a href="http://www.comfysheep.com/links.html">Sheepskin Covers by Comfy Sheep</a></li>
</ul>
<h3>Aviation History Links</h3>
<ul class="nav nav-list">
    <li><a href="http://www.airliners.net/info/">Airliners.net</a></li>
    <li><a href="http://airlines.afriqonline.com/">Afriqonline.com</a></li>
    <li><a href="http://www.timelessvoices.org/">Timeless Voices . org</a></li>
    <li><a href="http://www.earthrounders.com/">Earthrounders.com</a></li>
</ul>
<h3>Miscellaneous Links</h3>
<ul class="nav nav-list">
    <li><a href="http://100dollarhamburger.com./">Find that Hundred Dollar Hamburger</a></li>
    <li><a href="http://www.grc.nasa.gov/WWW/K-12/FoilSim/index.html">How airplane wings fly</a></li>
    <li><a href="http://www.howstuffworks.com/gps1.htm">How Stuff Works - GPS</a></li>
    <li><a href="http://www.nafinet.org/">NAFINET - The CFI Organization</a></li>
    <li><a href="http://www.thecfi.com/welcome.htm">The Certified Flight Instructor</a></li>
</ul>
<h3>Online Safety Seminars</h3>
<ul class="nav nav-list">
    <li><a href="http://www.aopa.org/asf/online_courses/">AOPA - Know Before You Go</a></li>
</ul>