@{
    ViewBag.Title = "N89652";
}
<h2>Cessna 152 For Sale</h2>

<div id="slides" class="carousel slide" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
        <li data-target="#slides" data-slide-to="3"></li>
        <li data-target="#slides" data-slide-to="4"></li>
        <li data-target="#slides" data-slide-to="5"></li>
        <li data-target="#slides" data-slide-to="6"></li>
        <li data-target="#slides" data-slide-to="7"></li>
        <li data-target="#slides" data-slide-to="8"></li>
        <li data-target="#slides" data-slide-to="9"></li>
        <li data-target="#slides" data-slide-to="10"></li>
    </ol>
    <div class="carousel-inner">
        <div class="active item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9348.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9290.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9303.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9291.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9292.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9293.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9294.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9295.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9298.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9299.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9300.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9300.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9302.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9303.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9304.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9305.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9306.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9307.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9311.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9312.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9316.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9317.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9322.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9324.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9325.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9326.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9327.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="hero-unit text-center">
                <img src="~/Content/newsletter/152_Photos/IMG_9330.jpeg">
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#slides" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#slides" data-slide="next">&rsaquo;</a>
</div>

<ul>
    <li><a href="http://data.lexingtonflyingclub.org/Content/newsletter/N89652%20Aircraft%20Logs.pdf">Airframe Logs</a></li>
    <li><a href="http://data.lexingtonflyingclub.org/Content/newsletter/N89652%20Engine%20Logs.pdf">Engine Logs</a></li>
    <li><a href="http://data.lexingtonflyingclub.org/Content/newsletter/N89652%20Propeller%20Log.pdf">Propeller Log</a></li>
    <li><a href="http://data.lexingtonflyingclub.org/Content/newsletter/N89652%20Aircraft%20ADs.pdf">Airframe ADs</a></li>
    <li><a href="http://data.lexingtonflyingclub.org/Content/newsletter/N89652%20Engine%20ADs.pdf">Engine ADs</a></li>
    <li><a href="http://data.lexingtonflyingclub.org/Content/newsletter/N89652%20ADS-B.pdf">ADS-B Documentation</a></li>
</ul>