@model IEnumerable<LFC.Models.Airplane>

@{
    ViewBag.Title = "Hours per Month";
}

<h2>Hours per Month</h2>

</p>
<table class="table">
    <tr>
        <th>Month</th>
        @foreach (var item in Model)
        {
        <th>
            @Html.DisplayFor(x => item.AirplaneID)
        </th>
        }
    </tr>

    @for (var i = 1; i <= 12; i++)
    {
        String[] months = { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
    <tr>
        <td>
            @months[i-1]
        </td>
        @foreach (var plane in Model)
        {
        <td>
            @String.Format("{0:F2}", plane.TachHoursPerMonth(i))
        </td>
        }
    </tr>
    }

</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}