body {
    background-image: url('background.jpg');
}

.container {
    padding: 50px;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

.hero-unit {
    min-height: 385px;
}